.main-content {
  margin-top: 100px;
}
.tasks-title {
  color: #007bff;
  margin: 30px 0 10px 0;
  font-weight: 500;
}
.completed {
  text-decoration: underline;
}

.delete-todo {
  background-color: #ff5454;
  color: #fff;
  float: right;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px 10px;
  border: 0;
}

.delete-todo:hover {
  background-color: #ff2626;
}

.activate-edit {
  background-color: #007bff;
  color: #fff;
  float: right;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px 10px;
  border: 0;
  margin-right: 5px;
}

.activate-edit:hover {
  background-color: #0051a7;
}

.jumbo-form {
  border-radius: 10px;
  padding: 30px;
  background-color: #cce3fd;
}

.jumbo-search {
  padding: 10px;
  background-color: #fff;
}

.jumbo-form h2 {
  text-align: center;
  font-weight: 400;
}

.add-todo-form {
  display: flex;
}

.add-todo {
  flex: 10;
  margin: 10px;
}

.submit-todo {
  flex: 2;
  margin: 10px;
}

.search-todo {
  width: 100%;
}

.cancel-edition-btn {
  text-align: center;
  width: 20%;
  margin: 20px auto 0 auto;
  display: block;
}

.list-group {
  margin-bottom: 50px;
}

.signature {
  font-weight: bold;
  text-align: center;
}
